@model IEnumerable<WebApplication.Models.Klijenti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodavanje ", "Create" , null, new { @class="create-button"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojTelefona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Napomena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LozinkaSalt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LozinkaHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KorisnickoIme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerminiCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aktivan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumRodjenja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrojTelefona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Napomena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LozinkaSalt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LozinkaHash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KorisnickoIme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerminiCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aktivan)
        </td>
        <td>
            @Html.ActionLink("Izmjeni", "Edit", new { id=item.KlijentID }, new { @class = "edit-button" }) 
            @Html.ActionLink("Vidi više", "Details", new { id=item.KlijentID }, new { @class = "details-button" }) 
            @Html.ActionLink("Obriši", "Delete", new { id=item.KlijentID }, new { @class = "delete-button" })
        </td>
    </tr>
}

</table>
