@model WebApplication.Models.KlijentiTakmicenja

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KlijentiTakmicenja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatumPrijave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumPrijave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klijenti.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klijenti.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Takmicenja.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Takmicenja.Naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmjeni", "Edit", new { /* id = Model.PrimaryKey */ }, new { @class = "edit-button" }) 
    @Html.ActionLink("Povratak na listu", "Index" , null, new { @class="back-button"})
</p>
