@model IEnumerable<WebApplication.Models.Takmicenja>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodavanje ", "Create" , null, new { @class="create-button"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mjesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Frizeri.Ime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mjesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Frizeri.Ime)
        </td>
        <td>
            @Html.ActionLink("Izmjeni", "Edit", new { id=item.TakmicenjeID }, new { @class = "edit-button" }) 
            @Html.ActionLink("Vidi više", "Details", new { id=item.TakmicenjeID }, new { @class = "details-button" }) 
            @Html.ActionLink("Obriši", "Delete", new { id=item.TakmicenjeID }, new { @class = "delete-button" })
        </td>
    </tr>
}

</table>
