@model WebApplication.Models.DodatniTretmaniOcjene

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DodatniTretmaniOcjene</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ocjena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ocjena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DodatniTretmani.NazivTretmana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DodatniTretmani.NazivTretmana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frizeri.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frizeri.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klijenti.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klijenti.Ime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmjeni", "Edit", new { id = Model.TretmanOcjenaID }, new { @class = "edit-button" }) 
    @Html.ActionLink("Povratak na listu", "Index" , null, new { @class="back-button"})
</p>
