@model WebApplication.Models.UslugeOcjene

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UslugeOcjene</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ocjena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ocjena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frizeri.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frizeri.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klijenti.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klijenti.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Termini.TerminID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Termini.TerminID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usluge.NazivUsluge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usluge.NazivUsluge)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Povratak na listu", "Index" , null, new { @class="back-button"})
        </div>
    }
</div>
