@model IEnumerable<WebApplication.Models.UslugeOcjene>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodavanje ", "Create" , null, new { @class="create-button"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ocjena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Frizeri.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klijenti.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Termini.TerminID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usluge.NazivUsluge)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ocjena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Frizeri.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Klijenti.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Termini.TerminID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usluge.NazivUsluge)
        </td>
        <td>
            @Html.ActionLink("Izmjeni", "Edit", new { id=item.UslugaOcjenaID }, new { @class = "edit-button" }) 
            @Html.ActionLink("Vidi više", "Details", new { id=item.UslugaOcjenaID }, new { @class = "details-button" }) 
            @Html.ActionLink("Obriši", "Delete", new { id=item.UslugaOcjenaID }, new { @class = "delete-button" })
        </td>
    </tr>
}

</table>
