@model WebApplication.Models.Usluge

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Usluge</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazivUsluge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazivUsluge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrajanjeMinute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrajanjeMinute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CijenaUsluge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CijenaUsluge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VrsteUsluga.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VrsteUsluga.Naziv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Povratak na listu", "Index" , null, new { @class="back-button"})
        </div>
    }
</div>
