@model WebApplication.Models.Usluge

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usluge</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazivUsluge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazivUsluge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrajanjeMinute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrajanjeMinute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CijenaUsluge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CijenaUsluge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VrsteUsluga.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VrsteUsluga.Naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmjeni", "Edit", new { id = Model.UslugaID }, new { @class = "edit-button" }) 
    @Html.ActionLink("Povratak na listu", "Index" , null, new { @class="back-button"})
</p>
