@model WebApplication.Models.Frizeri

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Frizeri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KorisnickoIme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KorisnickoIme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfilnaSlika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfilnaSlika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LozinkaSalt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LozinkaSalt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LozinkaHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LozinkaHash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlikaThumb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlikaThumb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VrsteUsluga.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VrsteUsluga.Naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmjeni", "Edit", new { id = Model.FrizerID }, new { @class = "edit-button" }) 
    @Html.ActionLink("Povratak na listu", "Index" , null, new { @class="back-button"})
</p>
