@model IEnumerable<WebApplication.Models.Frizeri>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodavanje ", "Create" , null, new { @class="create-button"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KorisnickoIme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfilnaSlika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LozinkaSalt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LozinkaHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlikaThumb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VrsteUsluga.Naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KorisnickoIme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfilnaSlika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LozinkaSalt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LozinkaHash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlikaThumb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VrsteUsluga.Naziv)
        </td>
        <td>
            @Html.ActionLink("Izmjeni", "Edit", new { id=item.FrizerID }, new { @class = "edit-button" }) 
            @Html.ActionLink("Vidi više", "Details", new { id=item.FrizerID }, new { @class = "details-button" }) 
            @Html.ActionLink("Obriši", "Delete", new { id=item.FrizerID }, new { @class = "delete-button" })
        </td>
    </tr>
}

</table>
